body {
    font-family: 'Courier New', "Lucida Console", "Monaco";
    background-color: rgba(70, 235, 70, 0.315);
}

ul {
    display: inline-block;
}

a {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: rgba(85, 88, 104, 0.897);
    background-color: khaki;
}

.container {
    text-align: center;
}
